{% extends "_includes/default.njk" %}
{% block title %}It does work{% endblock %}

{% block header_content %}
  <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gray-900 lg:leading-tight tracking-tighter mb-4 md:mb-6 lg:mb-8">Get happier customers, reduce churn & increase revenue</h1>
  <p class="text-xl md:text-2xl lg:text-3xl md:leading-normal lg:leading-normal text-gray-700 mx-auto mb-4 md:mb-6 lg:max-w-2xl lg:mb-8">Better UX Playbook is a database of 100+ tried and tested UX stratgies than can grow your product</p>
  <div class="flex items-center flex-col">
    <a href="{{product.core.link}}" class="button primary-button md:text-2xl lg:text-3xl mb-2 lg:mb-4">Buy for only {{product.core.price}}</a>
    <small class="text-xs md:text-sm text-gray-600">Limited run • One-off fee</small>    
  </div>
{% endblock %}

{% block content %}  
  {% include "sections/embed.njk" %}
  {% include "sections/proof.njk" %}
  {% include "sections/features.njk" %}
  {% include "sections/cta.njk" %}
  {% include "sections/benefits.njk" %}
  {# {% include "sections/pricing.njk" %} #}
  {% include "sections/about.njk" %}
  {% include "sections/faq.njk" %}
{% endblock %}