<section>
  <div class="container">
    <div class="block grid-cols-2 gap-6 space-y-6 items-center md:grid md:space-y-0 md:space-x-6">
      <article class=" max-w-lg">
        <h2 class="text-xl md:text-4xl font-bold text-gray-900 md:leading-tight mb-6">Who am I?</h2>
        <p class="text-base md:text-lg md:leading-normal text-gray-700 mb-6">Hey, my name is Rob. I’ve been a UX designers for around 10 years. I started my career in eCommerce, but over the years I’ve worked with some amazing companies on some amaziing products such as Waitrose, Dunelm, TVG, JEGI and more. </p>
        <a href="https://twitter.com/heymynameisrob" class="text-base md:text-lg font-bold underline text-primary">Follow me on Twitter</a>
      </article>
      <picture class="w-full h-auto">
        <source srcset="/images/profile@2x.png" media="(min-width: 478px)">
        <img src="/images/profile.png" alt="" />
      </picture>
    </div>
  </div>
</section>