<section>
  <div class="container">
    <header class="text-center pb-6 md:pb-16">
      <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold text-gray-900 md:leading-tight tracking-tighter">Why Better UX Playbook is so useful</h2>
    </header>
    <!-- Grid -->
    <div class="block grid-cols-2 gap-4 space-y-4 md:space-y-0 md:gap-y-16 md:grid">
      <!-- Benefit -->
      <article class="text-center space-y-4 max-w-md mx-auto">
        <p class="text-xl md:text-5xl">💯</p>
        <h3 class="text-xl md:text-3xl font-bold text-gray-900">Instant access to 100+ effective strategies</h3>
        <p class="text-base md:text-lg">Your time is money. You could spend weeks or months trying to find UX improvements for your product or you could get a huge database in seconds.</p>
      </article>  
      <!-- Benefit -->
      <!-- Benefit -->
      <article class="text-center space-y-4 max-w-md mx-auto">
        <p class="text-xl md:text-5xl">🌟</p>
        <h3 class="text-xl md:text-3xl font-bold text-gray-900">Built on over 10 years of product knowledge</h3>
        <p class="text-base md:text-lg">I’ve built this list by working on some of biggest products in the world with the best teams in the world such as Waitrose, Dunelm, TVG and much more.</p>
      </article>  
      <!-- Benefit -->
      <!-- Benefit -->
      <article class="text-center space-y-4 max-w-md mx-auto">
        <p class="text-xl md:text-5xl">🚀</p>
        <h3 class="text-xl md:text-3xl font-bold text-gray-900">Proven to improve retention and increase revenue</h3>
        <p class="text-base md:text-lg">Good retention is the lifeblood of any SaaS product. Your customers don’t just expect a product, they expect the perfect product. Reduce churn with a few simple tweaks.</p>
      </article>  
      <!-- Benefit -->
      <!-- Benefit -->
      <article class="text-center space-y-4 max-w-md mx-auto">
        <p class="text-xl md:text-5xl">🧠</p>
        <h3 class="text-xl md:text-3xl font-bold text-gray-900">Rooted in psychology, tested by professinals</h3>
        <p class="text-base md:text-lg">These strategies are backed by psychology understand and rigurously tested methods I’ve collated from industry leaders or conducted myself.</p>
      </article>  
      <!-- Benefit -->
      <!-- Benefit -->
      <article class="text-center space-y-4 max-w-md mx-auto">
        <p class="text-xl md:text-5xl">🎯</p>
        <h3 class="text-xl md:text-3xl font-bold text-gray-900">Quick sort by estimated effort and aticipated impact</h3>
        <p class="text-base md:text-lg">Reduce the guesswork and risk. Plan with your next product development cycle by sorting against effort/impact. Figure out the ROI on every move.</p>
      </article>  
      <!-- Benefit -->
      <!-- Benefit -->
      <article class="text-center space-y-4 max-w-md mx-auto">
        <p class="text-xl md:text-5xl">🎉</p>
        <h3 class="text-xl md:text-3xl font-bold text-gray-900">No costly audits. No upsell. Free lifetime updates.</h3>
        <p class="text-base md:text-lg">I’m not trying to ‘hook’ you. This isn’t a lead magnet. What you’re buying is what you get. I’ll add new strategies every month and you’ll reap the benefits MoM, forever.</p>
      </article>  
      <!-- Benefit -->
    </div>
    <!-- Grid -->
  </div>
</section>