<section class="relative z-10 md:-mt-48">
  <div class="container">
    <div class="p-6 rounded-lg bg-primary text-white shadow-lg md:p-12 md:shadow-2xl md:rounded-2xl">
      <div class="flex- items-center justify-center flex-col text-center">
        <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold lg:leading-tight tracking-tighter mb-4 md:mb-6 lg:mb-8">Yours forever. No recurring fees. Lifetime updates. All for only {{product.core.price}}.</h1>
        <a href="{{product.core.link}}" class="button white-button md:text-2xl lg:text-3xl mb-2 lg:mb-4">Buy Better UX Playbook</a>
        <small class="text-xs md:text-sm text-white opacity-75">14 day money back guarantee</small>
      </div>
    </div>
  </div>
</section>