<div id="offer" class="hidden justify-center items-center p-4 opacity-0 transition-all delay-100 bg-primary text-white">
  <h4 class="text-base md:text-xl text-opacity-75">Get 25% off using the code:</h4>
  <span class="text-base md:text-xl offer-code ml-2 font-bold"></span>
</div>
