<section>
  <div class="container">  
    <header class="text-center pb-6 md:pb-16">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 md:leading-tight tracking-tighter">We've helped people, just like you</h2>
    </header>
    <div class="block grid-cols-2 gap-4 md:grid">
      <article class="p-6 rounded-lg bg-muted">
        <div class="flex justify-start align-items space-x-4 mb-6">
          <img class="inline-block h-14 w-14 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixqx=gCaFUdscP2&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div>
            <h4 class="text-base md:text-lg font-bold text-gray-900">Lauren Colbeck<h4>
            <p class="text-sm md:text-base text-gray-700">Head of Product, Peppermint</p>
          </div>
        </div>
        <p class="text-lg md:text-xl text-gray-700">‘The things we’ve learned from working with nuom are how to engage and review user behaviour and motivations which allowed us to make better decisions in our product design’</p>
      </article>
      <article class="p-6 rounded-lg bg-muted">
        <div class="flex justify-start align-items space-x-4 mb-6">
          <img class="inline-block h-14 w-14 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixqx=gCaFUdscP2&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div>
            <h4 class="text-base md:text-lg font-bold text-gray-900">Lauren Colbeck<h4>
            <p class="text-sm md:text-base text-gray-700">Head of Product, Peppermint</p>
          </div>
        </div>
        <p class="text-lg md:text-xl text-gray-700">‘The things we’ve learned from working with nuom are how to engage and review user behaviour and motivations which allowed us to make better decisions in our product design’</p>
      </article>
    </div><!-- end grid -->
  </div>
</section>