<section>
  <div class="container">  
    <header class="text-center pb-6 md:pb-16">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 md:leading-tight tracking-tighter">We've helped people, just like you</h2>
    </header>
    <div class="block grid-cols-2 gap-4 md:grid">
      <article class="p-6 rounded-lg bg-muted">
        <div class="flex justify-start align-items space-x-4 mb-6">
          <img class="inline-block h-14 w-14 rounded-full" src="https://media-exp1.licdn.com/dms/image/C4E03AQHLDYdzuqNQ6A/profile-displayphoto-shrink_400_400/0/1517615326380?e=1623888000&v=beta&t=hnc0_S-FU58bsTbfeXX2k12tDeJ_lqldoiN9d5uDmmY" alt="">
          <div>
            <h4 class="text-base md:text-lg font-bold text-gray-900">Neel Thakrar<h4>
            <p class="text-sm md:text-base text-gray-700">Co-Founder & CEO, Tuck</p>
          </div>
        </div>
        <p class="text-lg md:text-xl text-gray-700">This helped to improve Tuck with loads of quick UX improvements that I could just take away and plug-in to my product with ease</p>
      </article>
      <article class="p-6 rounded-lg bg-muted">
        <div class="flex justify-start align-items space-x-4 mb-6">
          <img class="inline-block h-14 w-14 rounded-full" src="https://media-exp1.licdn.com/dms/image/C4E03AQGkWjY88ULGFg/profile-displayphoto-shrink_400_400/0/1581334932966?e=1623888000&v=beta&t=3N3L-qDLMF_r9BpgYDdKNt63aBlMhGnWaDUzqXspXtU" alt="">
          <div>
            <h4 class="text-base md:text-lg font-bold text-gray-900">Calypso Rose<h4>
            <p class="text-sm md:text-base text-gray-700">Founder, The Indytute & Deal Delivers</p>
          </div>
        </div>
        <p class="text-lg md:text-xl text-gray-700">‘Rob and Better UX Playbook helped me improve the product pages & checkout flow of my store. The strategies were super quick to apply and stopped me getting loads of complaints from customers'</p>
      </article>
    </div><!-- end grid -->
  </div>
</section>