<!DOCTYPE html>
<html lang="en" class="font-sans text-gray-700 tracking-tight antialiased">
  <head>
   {% include "head.njk" %}
  </head>
  <body>
    {% include "nav.njk" %}
    <header role="banner" class="relative pt-16 pb-48 px-4 md:pt-24 md:pb-96 text-center bg-muted">
      <div class="flex justify-center items-center flex-col max-w-prose mx-auto lg:max-w-4xl">
        {% block header_content %}
          {{ header_content | safe }}
        {% endblock %}
      </div>      
      <div class="absolute bottom-0 left-0 right-0 z-0">{% include "cutaway.svg" %}</div>
    </header>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    {% include "footer.njk" %}
  </body>
</html>