<footer class="pb-16">
  <div class="container">
    <div class="flex justify-between items-center">
      <p class="text-sm text-gray-600">&copy; 2021 Better UX Playbook</p>
      <ul class="flex justify-end items-center space-x-4 md:text-lg">
        {# <li><a href="/blog" class="text-primary underline">Blog</a></li> #}
        <li><a href="mailto:robhough@hey.com" class="text-primary underline">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
 <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script type="text/javascript">
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    if(getUrlParameter('ref') === 'indiehackers'){        
      let offerBar = document.getElementById('offer');
      let offerCode = document.querySelector('#offer .offer-code');        
      offerBar.classList.add('show-bar');      
      offerBar.style.backgroundColor = '#0D2032';
      offerCode.innerHTML = 'indie25';        
    }
    if(getUrlParameter('ref') === 'producthunt'){        
      let offerBar = document.getElementById('offer');
      let offerCode = document.querySelector('#offer .offer-code');        
      offerBar.classList.add('show-bar');
      offerBar.style.backgroundColor = '#DA562E';
      offerCode.innerHTML = 'ph25';        
    }
    if(getUrlParameter('ref') === 'revive'){        
      let offerBar = document.getElementById('offer');
      let offerCode = document.querySelector('#offer .offer-code');        
      offerBar.classList.add('show-bar');      
      offerCode.innerHTML = 'revive25';        
    }
</script>