<!DOCTYPE html>
<html lang="en" class="font-sans text-gray-700 tracking-tight antialiased">
  <head>
   {% include "head.njk" %}
  </head>
  <body>    
    {% include "nav.njk" %}
    <header role="banner" class="pt-16 pb-16 px-4 text-left bg-muted lg:pb-32">
      <div class="flex items-center flex-col">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 lg:leading-tight tracking-tighter mb-4 md:mb-6 lg:mb-8">Blog</h1>
        <p class="text-xl md:text-2xl md:leading-normal lg:leading-normal text-gray-700 mb-4 md:mb-6 lg:mb-8">Improve your UX with the Better UX Playbook</p>
      </div>
    </header>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    {% include "footer.njk" %}
  </body>
</html>