<nav role="navigation" class="p-4 md:py-8 flex justify-between items-center bg-muted">
  <a href="/"><h4 class="text-md md:text-lg font-bold">Better UX Playbook</h4></a>
  <ul class="flex justify-end items-center space-x-4 md:text-lg">
    {# <li><a href="/" class="text-primary underline">Blog</a></li> #}
    <li><a href="/" class="text-primary underline">Contact</a></li>
  </ul>
</nav>